<nav class="navbar navbar-light bg-light">
	<div class="container-fluid">
		<span class="navbar-brand mb-0">Artist Search</span>
	</div>
</nav>

<div id="content" class="container mt-5 ps-0 pe-0">
	<app-search-form></app-search-form>
</div>

<footer class="py-2 fixed-bottom bg-dark">
	<div class="container-fluid text-center">
		<a class="text-white small" target="_blank" style="text-decoration: none;" href="https://www.artsy.net/">Powered by <img src="./assets/artsy_logo.svg" id="footer-image">Artsy</a>
	</div>
</footer>
